<!DOCTYPE html>
<html>
<head>
	<title>FRB Page</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" src="../public/css/style.css">
	<style>
		body{
			height: 300%;
		}
		#loan-trend-container{
			background-color: rgb(28,85,152);
		}
		#rate-trend-container{
			background-color: rgb(186,217,235);
		}
		#loan-trend-container, #rate-trend-container, #macro-trend-contair {
			height: 100% !important;
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}

	</style>
</head>
<body>

<div class="jumbotron data-container" id='loan-trend-container'>
	<div class="container">
		<h3 id="test">Commercial Bank Loan Loss Trends</h3>
	</div>
</div>

<div class="jumbotron data-container" id='rate-trend-container'>
	<div class="container">
		<h3 id="test">Key Interest Rates</h3>
	</div>
</div>

<div class="jumbotron data-container" id='macro-trend-container'>
	<div class="container">
		<h3 id="test">Macroeconomic Data Point</h3>
	</div>
</div>

